p.handshake {
     background-color: #00FF7F;
     display: inline-block;
     border-radius: 0.5em;
     padding: 20px; 
     width: 110px;
     min-width: 110px;
     height: 80px; 
     min-height: 80px;
     position: relative;
     left: 20em;

}
.handshake .fa {
	color: #f0ffff;
}